<form class="container mt-3">
  <h1>Confirme sua presença</h1>
  <div class="row">
    <div class="mb-3 col-6">
      <label for="exampleFormControlInput1" class="form-label ">Nome</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3 col-6">
      <label for="exampleFormControlInput1" class="form-label">Nome</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3 col-6">
      <label for="exampleFormControlInput1" class="form-label">Nome</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3 col-6">
      <label for="exampleFormControlInput1" class="form-label">Nome</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>
  </div>
  <div class="row justify-content-end p-3">
    <button class="col-4 btn btn-primary">Confirmar</button>
  </div>
</form>
